/*=======Header=======*/
.header {
  display: flex;
  position: fixed;
  z-index: 99999;
  width: 100vw;
  height: calc(3rem);
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  transition: 0.6s ease;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
  margin-bottom: 4rem;
}

.header.sticky {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
}

.navbar {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
}

.navbar .logo {
  font-size: 1.1em;
  font-weight: 600;
  cursor: pointer;

  .logoName {
    color: #3d72f3;
  }
}

.link_class {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.my_link {
  color: #0e2431;
  font-size: 1em;
  font-weight: 500;
}

.my_link.active {
  color: #6a59d1;
}

.my_link :not(:last-child) {
  margin-right: 50px;
}

.my_link :hover {
  color: #6a59d1;
}

.connectButton {
  padding: 1rem 0rem;
  margin: 1rem;
}
.nav-menu-btn {
  display: none;
}
