.footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(
    140deg,
    rgba(54, 190, 255, 1) 0%,
    rgba(115, 63, 241, 1) 100%
  );
  color: #fff;
}
.icons_container {
  display: flex;
  gap: 2rem;
  margin-bottom: 0.5rem;
}
