.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 4rem 0.8rem 4rem;
  gap: 1rem;
  margin-bottom: 10rem;
}

.mainLink {
  font-size: 1.8rem;
}

.my_link {
  font-size: 1.2rem;
}

.alchemy_logo {
  width: 6rem;
  cursor: pointer;
}
